<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">

                <!-- Card header -->
                <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">Problemas de la Moto {{ motoId }}</h3>
                    <button [routerLink]="['/issues/create', motoId]" class="btn btn-primary btn-sm">
                        + Registrar Problema
                    </button>
                </div>

                <!-- Card body -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Tipo</th>
                                <th>Fecha Reportada</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let issue of issues">
                                <td>{{ issue.id }}</td>
                                <td>{{ issue.description }}</td>
                                <td>{{ issue.issue_type }}</td>
                                <td>{{ issue.date_reported | date:'short' }}</td>
                                <td>{{ issue.status }}</td>
                                <td>
                                    <!-- Botón Ver Fotos -->
                                    <button class="btn btn-info btn-sm mr-2" [routerLink]="['/photos', issue.id]">
                                        Ver Fotos ({{ issue.photos.length }})
                                    </button>


                                    <!-- Botón Editar -->
                                    <button class="btn btn-warning btn-sm mr-2"
                                        [routerLink]="['/issues/update', issue.id]">
                                        Editar
                                    </button>

                                    <!-- Botón Eliminar -->
                                    <button class="btn btn-danger btn-sm" (click)="delete(issue.id)">
                                        Eliminar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- End Card body -->

            </div> <!-- End Card -->
        </div> <!-- End Col -->
    </div> <!-- End Row -->
</div> <!-- End Container -->