.navbar {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;

  background: #b33a3a !important;
  backdrop-filter: blur(6px); 
  -webkit-backdrop-filter: blur(6px);

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
