<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0" *ngIf="mode==1">Detalle de Dirección</h3>
                    <h3 class="mb-0" *ngIf="mode==2">Crear Dirección</h3>
                    <h3 class="mb-0" *ngIf="mode==3">Dirección</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                        <div class="form-container">
                            <!-- ID -->
                            <div class="form-group-custom" *ngIf="mode==3">
                                <label class="form-label">ID</label>
                                <input type="text" class="form-control" formControlName="id" disabled>
                            </div>

                            <!-- Order ID (opcional) -->
                            <div class="form-group-custom">
                                <label class="form-label">Orden ID</label>
                                <input type="number" class="form-control" [disabled]="mode==1"
                                    formControlName="order_id" disabled>
                            </div>

                            <!-- Calle -->
                            <div class="form-group-custom">
                                <label class="form-label">Calle</label>
                                <input type="text" class="form-control" [disabled]="mode==1" formControlName="street">
                                <div class="error-messages"
                                    *ngIf="getTheFormGroup.street.errors && (getTheFormGroup.street.dirty || getTheFormGroup.street.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.street.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.street.errors.minlength" class="msnError">Mínimo
                                        3 caracteres</strong>
                                </div>
                            </div>

                            <!-- Ciudad -->
                            <div class="form-group-custom">
                                <label class="form-label">Ciudad</label>
                                <input type="text" class="form-control" [disabled]="mode==1" formControlName="city">
                                <div class="error-messages"
                                    *ngIf="getTheFormGroup.city.errors && (getTheFormGroup.city.dirty || getTheFormGroup.city.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.city.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.city.errors.minlength" class="msnError">Mínimo 3
                                        caracteres</strong>
                                </div>
                            </div>

                            <!-- Departamento -->
                            <div class="form-group-custom">
                                <label class="form-label">Departamento</label>
                                <input type="text" class="form-control" [disabled]="mode==1" formControlName="state">
                                <div class="error-messages"
                                    *ngIf="getTheFormGroup.state.errors && (getTheFormGroup.state.dirty || getTheFormGroup.state.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.state.errors.required"
                                        class="msnError">Requerido</strong>
                                    <strong *ngIf="getTheFormGroup.state.errors.minlength" class="msnError">Mínimo 3
                                        caracteres</strong>
                                </div>
                            </div>

                            <!-- Código Postal -->
                            <div class="form-group-custom">
                                <label class="form-label">Código Postal</label>
                                <input type="text" class="form-control" [disabled]="mode==1"
                                    formControlName="postal_code">
                                <div class="error-messages"
                                    *ngIf="getTheFormGroup.postal_code.errors && (getTheFormGroup.postal_code.dirty || getTheFormGroup.postal_code.touched || trySend)">
                                    <strong *ngIf="getTheFormGroup.postal_code.errors.required"
                                        class="msnError">Requerido</strong>
                                </div>
                            </div>

                            <!-- Información Adicional -->
                            <div class="form-group-custom">
                                <label class="form-label">Info Adicional</label>
                                <textarea class="form-control" [disabled]="mode==1" formControlName="additional_info"
                                    rows="3" placeholder="Ej: Apto 201, timbre rojo..."></textarea>
                            </div>

                            <!-- Botones -->
                            <div class="button-group">
                                <button type="button" class="btn btn-secondary btn-responsive"
                                    (click)="back()">Volver</button>
                                <button type="button" class="btn btn-success btn-responsive" (click)="create()"
                                    *ngIf="mode==2">Crear</button>
                                <button type="button" class="btn btn-warning btn-responsive" (click)="update()"
                                    *ngIf="mode==3">Actualizar</button>
                                <button type="button" class="btn btn-danger btn-responsive" (click)="delete(address.id)"
                                    *ngIf="mode==3">Eliminar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>